<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Current texts available: </h3> 
        <p>The Wisdom of the Lotus Sutra (WLS)</p>
<ul>
  <li>- Volume I: Examining Chapters 1-2 - Introduction; Expedient Means</li>
  <li>- Volume II: Examining Chapters 3-10 - Simile & Parable; Belief & Understanding; Parable of the Medicinal Herbs; Bestowal of Prophecy; Parable of the Phantom City; Five Hundred Disciples; Prophecies; Teacher of the Law</li>
  <li>- Volume III: Examining Chapters 11-15 - The Emergence of the Treasure Tower; Devadatta; Encouraging Devotion; Peaceful Practices; Emerging from the Earth</li>
  <li>- Volume IV: Examining Chapter 16 - The Life Span of the Thus Come One</li>
  <li>- Volume V: Examining Chapters 17-22 - Distinctions in Benefits; Responding with Joy; Teacher of the Law; Bodhisattva Never Disparaging; Supernatural Powers; Entrustment</li>
  <li>- Volume VI: Examining Chapters 23-28 - Former Affairs of the Bodhisattva Medicine King; The Bodhisattva Wonderful Sound; The Universal Gateway of the Bodhisattva Perceiver of the World's Sounds; Dharani; Former Affairs of King Wonderful Adornment; Encouragements of the Bodhisattva Universal Worthy</li>
</ul>  
</div> </div>

